:host {
  padding-left: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.input-container {
  padding-top: 10px;
  width: 100%;
  position: relative;
}

.emoji-button {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.textarea {
  max-height: 100px;
}
