.messenger-layout-grid {
  display: grid;
  grid-template-columns: 400px 1fr;

  overflow: hidden;
  grid-template-areas: "side-content main-content";
  height: 100%;
}

.side-content {
  // overflow: hidden;
  grid-area: side-content;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #ccc;
  padding-right: 9px;
}

.main-content {
  overflow: hidden;
  grid-area: main-content;
  height: 100%;
}

.thread-list-header {
  padding: 20px 5px 5px 5px;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  .thread-list-heading {
    flex: 1 0.5 150px;
    margin: 0;
  }

  .thread-list-actions {
    flex: 1 0 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .thread-list-action-btn {
      background-color: rgba($color: #ccc, $alpha: 0.3);
    }
  }
}

.thread-scrollbar {
  max-width: 99%;
  height: calc(100% - 117px);
}

.user-profile {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 20px;
  gap: 4px;

  p {
    font-weight: 500;
    font-size: 0.95rem;
    padding: 0;
    margin: 0;
  }

  .thumbnail-wrapper {
    height: 40px;
  }
}

.user-profile-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
