<ul class="thread-list-content">
  <li *ngFor="let thread of threads"
      app-thread-item
      (click)="onClick.emit(thread)"
      [name]="thread.threadName"
      [thumbnailUrl]="thread.threadPictureThumbnailUrl"
      [lastMessageAt]="thread.lastMessageAt"
      [lastMessage]="thread.lastMessage"
      [showTyping]="showTypingThreadIdMap.get(thread.threadId)"
      [read]="thread.read"
      [online]="isOnline(threadLastSeenMap.get(thread.threadId))"
      [systemMessage]="thread.systemMessage"
      [currentUserId]="currenUserId"
      [authorId]="thread?.author?.uid || '' "
      [authorName]="thread?.author?.name || ''">
  </li>
</ul>
