.message-list-container {
  list-style: none;
  padding: 0;
  padding-right: 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;

  li {
    min-width: 70px;
    min-height: 35px;
    display: flex;
    align-items: center;
  }

  li.default {
    justify-content: flex-end;
  }

  li.alternate {
    justify-content: flex-start;
  }
}

.message-date-separator {
  width: 100%;
  text-align: center;
}

.message-spinner-container {
  position: relative;
  margin-left: 15px;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 80%;
  left: 70%;
  width: 15px;
  height: 15px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner 0.6s linear infinite;
}

.thumbnail-wrapper {
  height: 30px;
  width: 30px;
  margin-right: 6px;
}
